{% block head %}

<title>Converter</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
{% endblock %}

{% block body %}
<div class="content" style="width:400px; height:300px; border:1px solid black; padding:20px;">
    <h1 style="text-align: center">Converter</h1>

    <div class="form">
        <form action="/pman_ctof" method="POST">
            <label for="txt_celcius">Enter temprature in celcius : </label>
            <input type="text" name="txt_celcius" id="txt_celcius"><br><br>

            <center><input type="submit" value="Convert" id="btn_ctof_submit"></center>
        </form>
    </div>
</div>
{% endblock %}